main {
  margin: 0px auto;
  padding: 0.25rem;
  max-width: 860px;

  --breakpoint-width: 480px;

  & > h1 {
    text-align: center;
    font-size: 2.4rem;

    @media (min-width: 480px) {
      font-size: 3.0rem;
    }
  }
}
