#cringe-greeting {
  background-image: url('/images/thumbs-up-scaled.png');
  min-height: 720px;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  
  @media (max-width: 720px) {
    background-position: calc((720px - 100vw) / 712px * -16rem);
  }

  margin: 0px auto;
  display: grid;
  gridtem
  


  & > div {
    display: grid;
  }

  button {
    @media (min-width: 720px) {
      width: 16rem;
      height: 8rem;
      font-size: 2.2rem;
    }
  }
}

#whyyyyyyyyyy {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding: 1rem;

  @media (min-width: 1024px) {
    justify-content: center;
    align-items: start;
    column-gap: 6rem;
    row-gap: 0.75rem;

    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: row;
  }

  div {
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 0.75rem;

    background: var(--color-surface);
    width: full;
    place-items: center;
    text-align: center;

    border-top: 10px solid;
    border-image: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-accent)
      )
      1;

    @media (min-width: 1024px) {
      grid-row: 1 / 4;
      padding: 2rem;
      height: 100%;

      grid-template-rows: auto auto 1fr;
    }

    svg {
      @media (max-width: 1024px) {
        max-width: 4rem;
        height: auto;
      }
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;

      @media (min-width: 1024px) {
        font-size: 1.6rem;
      }
    }

    span {
      font-size: 1.2rem;
    }
  }
}
