.nav {
  font-size: 2rem;
}

section.spaview:not(.spaactive) {
  display: none !important;
}

#loginView {
  margin: 12rem auto;
  width: 100%;
  max-width: 420px;
  background: var(--color-surface);
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  padding: 1.5rem;
  box-shadow: 0 10px 30px hsla(221, 83%, 20%, 0.08);

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
}

#bookingListView {
  form#bookingFilter {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .formfield {
      width: 100%;
    }
  }
}

#bookingListResult {
  margin-top: 2rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  grid-auto-rows: 1fr;
  gap: 1.25rem;

  & > div {
    --border-radius: 0.75rem;
    border-radius: var(--border-radius);
    background-color: var(--color-surface);
    padding: 0.75rem 1rem;
    min-width: 12rem;
    width: 100%;
    box-shadow: 0 10px 30px hsla(221, 83%, 20%, 0.08);
  }
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  @media (min-width: 720px) {
    font-size: 2rem;
  }

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0.25rem;
}

.card-content {
  margin-top: 0.5rem;
  display: grid;
  font-size: 1.4rem;
  width: fit-content;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  min-height: 20rem;
  grid-template-rows: repeat(12, 1fr);
  column-gap: 2rem;

  dialog & {
    grid-auto-flow: column;
    grid-template-rows: repeat(10, 1fr);
  }

  & > p {
    white-space: nowrap;
    &:is(:first-child, :nth-child(2)) > strong {
      text-transform: capitalize;
    }
  }

  & button {
    grid-row-end: span 2;
    font-size: 1.5rem;
  }

  & > form {
    grid-row-start: 1;
    grid-row-end: -1;

    display: grid;
    gap: 1rem;
    grid-auto-rows: min-content;
    grid-template-columns: auto auto;

    .formfield, .formStatus {
      grid-column-end: span 2
    }
  }

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
